.contain-utilities {
  padding: 68px 135px 75px 135px;
  h2.title-utilities {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 34px;
    width: 100%;
    text-align: center;
    color: #414141;
  }
  p.utilities-desc {
    color: #414141;
    font-size: 16px;
    text-align: center;
  }
  div.img-util-bx {
    position: relative;
    div.gradien {
      width: 100%;
      height: 120px;
      background: linear-gradient(
        2.15deg,
        #08065b 7.84%,
        rgba(8, 6, 91, 0.7) 67.01%,
        rgba(8, 6, 91, 0) 98.19%
      );
      position: absolute;
      z-index: 2;
      text-transform: uppercase;
      bottom: 0;
      left: 0;
      color: #ffffff;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      padding: 60px 0 32px 0;
    }
    img.img-util {
      width: 100%;
    }
    img.img-util-mb {
      display: none;
    }
  }
}
.contain-gallery {
  .img-gallery-left {
    max-width: 100%;
    height: 100%;
    background-image: url('/img/ga_1.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .gallery-content {
    padding: 56px 135px 63px 30px;
    background-image: url('/img/bg-gallery.png');
    background-repeat: no-repeat;
    background-size: cover;

    color: #414141;
    text-align: left;
    h3.gallery-title {
      text-transform: uppercase;
      font-size: 34px;
      font-weight: 600;
    }
    p.gallery-desc {
      font-size: 16px;
      text-align: justify;
      line-height: 24px;
    }
  }
  img.ga-img {
    width: 100%;
  }
}

.visit-form {
  height: auto;
  .bg-form-policy {
    border: none;
    border-radius: 0;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-form-policy {
    padding-bottom: 63px;
    h3 {
      padding-top: 48px;
    }
  }
}
.contain-river-side {
  padding: 72px 0;
  color: #08065b;
  text-align: center;
  .title-river-side {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 700;
  }
  .desc-river-side {
    font-family: 'MonteCarlo';
    font-size: 64px;
  }
}
.footer {
  img {
    width: 220px;
    margin-bottom: 16px;
  }
  color: #ffffff;
  background-color: #992828;
  padding: 77px 120px 0 120px;
  .contact {
    margin-bottom: 32px;
    font-size: 24px;
  }
  p.footer-info {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
  }
  .contact-item {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    img {
      width: 24px;
      height: 24px;
      margin-right: 12px;
    }
    margin-bottom: 16px;
  }
  .input-form-policy {
    border: 0;
    padding: 5px;
    border-bottom: 1px solid rgba(242, 242, 242, 0.5);
    color: rgba(242, 242, 242, 0.5);
    background-color: transparent;
    width: 100%;
    margin-bottom: 16px;
  }
  .input-form-policy::placeholder {
    color: rgba(242, 242, 242, 0.5);
    font-size: 16px;
  }
  .copy-right {
    border-top: 1px solid #f2f2f2;
    text-align: center;
    color: #f2f2f2;
    font-weight: 500;
    margin-top: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    br {
      display: none;
    }
  }
}
.contain-gallery-mobile {
  background-image: url('/img/bg-g.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: none;
  padding: 48px 18px;
  .gallery-title {
    font-size: 20px;
    text-align: center;
    margin-bottom: 16px;
    font-weight: 600;
    line-height: 32px;
    text-transform: uppercase;
  }
  p.gallery-desc {
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 0;
  }
  .gallery-content {
    img {
      width: 100%;
      margin-top: 24px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .contain-gallery {
    display: none;
  }
  .contain-gallery-mobile {
    display: block;
  }
  .form-policy.visit-form {
    padding: 48px 18px;
    .bg-form-policy {
      background-image: url('img/form_policy.png');
      border-radius: 8px;
      padding: 80px 16px 37px;
      h3 {
        font-size: 16px;
        line-height: 24px;
      }
      .contain-input {
        .col-md-4 {
          padding: 0;
        }
      }
    }
  }
  .contain-river-side {
    padding: 48px 18px;
    .title-river-side {
      font-size: 24px;
      line-height: 42px;
    }
    .desc-river-side {
      font-size: 30px;
      line-height: 37px;
    }
  }
  .contain-river-side {
    background-image: url('/img/river-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .footer {
    padding: 48px 18px 0 18px;
    .row.m-0 {
      .col-md-4.logo-footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .footer-info {
          margin-bottom: 24px;
        }
      }
    }
    .contact {
      margin-bottom: 16px;
      font-size: 20px;
    }
    .copy-right {
      font-size: 14px;
    }
  }
  .contain-utilities {
    padding: 48px 18px 24px;
    h2.title-utilities {
      font-size: 20px;
    }
    p.utilities-desc {
      font-size: 16px;
      text-align: center;
      br {
        display: none;
      }
    }
    div.img-util-bx {
      div.gradien {
        height: 88px;
        padding: 16px;
        font-size: 16px;
      }
      img.img-util {
        display: none;
      }
      img.img-util-mb {
        display: block;
        width: 100%;
      }
    }
  }
}
